<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <h2>Registro</h2>

    <div class="form-group">
      <label for="username">Nombre de usuario</label>
      <input
        id="username"
        type="text"
        formControlName="username"
        placeholder="Ingrese su nombre de usuario"
      />
      <div class="error" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        Este campo es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Ingrese su correo electrónico"
      />
      <div class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Debe ser un correo válido.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Ingrese su contraseña"
      />
      <div class="error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        Este campo es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="document">Documento</label>
      <input
        id="document"
        type="text"
        formControlName="document"
        placeholder="Ingrese su documento único"
      />
      <div class="error" *ngIf="registerForm.get('document')?.invalid && registerForm.get('document')?.touched">
        Este campo es requerido.
      </div>
    </div>

    <button type="submit" [disabled]="!registerForm.valid">Registrarse</button>
  </form>

  <div class="navigation-buttons">
    <button [routerLink]="['/auth/login']">Ir a Login</button>
  </div>

</div>
